.school-modal-button {
  margin: 1em auto 0;
  display: block;
}

.card {
  background-color: inherit;
}

.card-header {
  background-color: #343a40;
  cursor: pointer;
}

.card-body {
  background-color: #212529;
  opacity: 0.7;
  color: black;
}